/* Profile Picture */
div.profile-image {
    max-width: 300px;
    margin-left: 30vw;
    margin-right: 30vw;
}
div.profile-name {
    font-weight: bold;
}
/* Detail blocks */
.detail-block {
    display: grid;
}
.detail-block span.detail-title {
    font-weight: bold;
}
/*tweaks for big/HD screens*/
@media only screen
and (min-width: 1680px) {
    div.profile-image {
        margin-left: 40vw;
        margin-right: 30vw;
    }
}
/*tweaks for average laptops*/
@media only screen
and (min-width: 1300px)
and (max-width: 1679px){
    div.profile-image {
        margin-left: 37vw;
        margin-right: 30vw;
    }
}
/*tweaks for modern majority of cell phones*/
@media only screen
and (max-width: 600px) {
    /* Footer override to force it to scroll for small screens*/
    .footer {
        position: initial;
        bottom: initial;
    }
    div.profile-image {
        margin-left: 3vw;
        margin-right: initial;
    }
}
