body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

.white-text {
  color: #fff;
}
.vert-align {
  margin-top: 20vh;
}
/* footer */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  min-height: 60px;
  /*line-height: 60px;*/
  background-color: #007bff;
}
.footer div.container div.row div.col-12.col-md-8 p,
.footer div.container div.row div.col-12.col-md-8 a {
  padding: 0;
  margin: 0;
}
.footer div.container div.row div.col-12.col-md-8 a {
  text-decoration: underline;
}
.footer div.container div.row div.col-12.col-md-8 * {
  display: inline-block;
}
ul.errorlist {
    color: red;
}