{% extends "base.html" %}
{% block title %}
    Dog Profile
{% endblock %}

{% block excss %}
  <link href="/static/css/dog_detail.css" rel="stylesheet">
{% endblock %}
{% block content %}
<main class="container-fluid">
  <div class="profile-container">
    <div class="profile-name">
      <p class="text-center">
        {{dogprofile.dog_name}}
      </p>
    </div>
    <div class="profile-image">
      {% if dogprofile.profile_pic %}
        <img src="{{dogprofile.profile_pic.url}}" class="img-fluid" alt="Responsive image">
      {% else %}
        <img src="/static/images/noun_364.svg" class="img-fluid" alt="Responsive image">
      {% endif %}
    </div>
  </div>
  <hr/>
  <div class="row">
    <div class="col-sm-1 detail-block">
      <span class="detail-title">License #</span>
      <span>{{dogprofile.license_id}}</span>
    </div>
    <div class="col-sm-1 detail-block">
      <span class="detail-title">Sex</span>
      <span>{{dogprofile.dog_sex_choices}}</span>
    </div>
    <div class="col-sm-2 detail-block">
      <span class="detail-title">Spayed/Neutered</span>
      <span>{{dogprofile.neutered}}</span>
    </div>
    <div class="col-sm-3 detail-block">
      <span class="detail-title">Address</span>
      <span>{{dogprofile.owner_address}}</span>
    </div>
    <div class="col-sm-2 detail-block">
      <span class="detail-title">Registration Date</span>
      <span>{{dogprofile.payment_date}}</span>
    </div>
    <div class="col-sm-2 detail-block">
      <span class="detail-title">Registration Length</span>
      <span>{{dogprofile.years_issued}} Years</span>
    </div>
    <div class="col-sm-1 detail-block">
      <span class="detail-title">Active</span>
        {% if dogprofile.is_active %}
          <img class="glyph glyph-check" src="/static/images/octicons/green-check.svg" class="img-fluid" alt="Responsive image">
        {% else %}
          <img class="glyph glyph-x" src="/static/images/octicons/red-x.svg" class="img-fluid" alt="Responsive image">
        {% endif %}
    </div>
  </div>
</main>
{% endblock %}
{% block exscript %}<link rel="stylesheet" href="/static/js/date-helper.js">{% endblock %}
